# install dask-complete for high performance distributed stuff
dask[complete]

# useful data science libraries
fastai
scipy
cloudpickle
scikit-learn
matplotlib
Cython
seaborn
xgboost
missingno
lightgbm
tqdm
category_encoders
